.logo {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1rem;
}

.logo__img {
    height: 2rem;
    grid-row: 1 / -1;
}

.logo__link:link,
.logo__link:visited {
    color: black;
    opacity: 1;
    text-decoration: none;
}
