.images {
    grid-row: 1 / 2;
    position: relative;
    background-size: cover;
    background-position: center;
}

.images__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
