.description {
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
}

@media only screen and (max-width: 64em), (max-height: 46.875em) {
    .description {
        padding: 1.5rem;
    }
}

.description > *:not(:last-child) {
    margin-bottom: 1rem;
}
