/* 
* Reset stylesheet
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* 
* Base styles
*/

.wrapper {
  --color-primary: #2e3434;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: var(--color-primary);
}

/* 
* Typography
*/

.t-heading-primary {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 700;
}

.t-heading-secondary {
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
  letter-spacing: -0.01em;
  font-weight: 400;
}

.t-title {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 700;
}

.t-body--small {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  opacity: 0.6;
}

@media only screen and (max-width: 56.25em) {
  .t-heading-primary {
    font-size: 1.5rem;
  }

  .t-heading-secondary,
  .t-title {
    font-size: 0.75rem;
  }

  .t-body--small {
    font-size: 0.5rem;
  }
}

/* 
* Components
*/

.widget {
  width: 888px;
  height: 773px;
  background: white;
  border-radius: 1.5rem;
  overflow: hidden;

  display: grid;

  grid-template-columns: repeat(2, 50%);
  /* grid-template-rows: 1fr max-content; */

  box-sizing: border-box;
  font-family: "Basis Grotesque Pro";
  font-weight: normal;
  line-height: 1.2;
  transition: all 0.2s;
}

@media only screen and (max-width: 56.25em) {
  .widget {
    width: 600px;
    height: 625px;
  }
}

.right-panel {
  height: 100%;
  display: grid;

  position: relative;
}

.right-panel__item {
  display: grid;

  grid-row: 1/-1;
  grid-column: 1/-1;
  grid-template-rows: 1fr max-content;
}

.right-panel__item--active {
  z-index: 99;
}

.right-panel__item--hidden {
  opacity: 0;
}

.fadeOutDown {
  animation: fadeOutDown 0.3s;
}

.fadeInDown {
  animation: fadeInDown 0.3s;
}

.fadeOutUp {
  animation: fadeOutUp 0.3s;
}

.fadeInUp {
  animation: fadeInUp 0.3s;
}

@keyframes fadeOutDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 
* Utils
*/

.u-justify-content-space-between {
  justify-content: space-between;
}

.u-justify-content-center {
  justify-content: center;
}
