/* 
* Reset stylesheet
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* 
* Base styles
*/

.wrapper {
  --color-primary: #2e3434;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: var(--color-primary);
}

/* 
* Typography
*/

.t-headline-primary {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 700;
}

.t-heading-secondary {
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
  letter-spacing: -0.01em;
  font-weight: 400;
}

.t-title {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 700;
}

.t-body--small {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  opacity: 0.6;
}

/* 
* Components
*/

.widget {
  width: 888px;
  height: 773px;
  background: white;
  border-radius: 1.5rem;

  display: grid;

  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 69% 1fr;

  box-sizing: border-box;
  font-family: "Basis Grotesque Pro";
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2;
  transition: all 0.2s;
}

/* 
* Utils
*/

.u-justify-content-space-between {
  justify-content: space-between;
}

.u-justify-content-center {
  justify-content: center;
}
