.logo {
    display: flex;
    align-items: flex-start;

    /* Fix logo to the top and scroll the content beneath*/
    position: sticky;
    top: 0;
    background: white;

    margin: -1rem -2rem 0 -2rem;
    padding: 1.5rem 2rem;
}

.logo > *:not(:last-child) {
    margin-right: 1rem;
}

.logo__heading > * {
    min-height: 1rem;
}

@media only screen and (max-width: 64em), (max-height: 46.3125em)  {
    .logo {
        margin: -1rem -1.5rem 0 -1.5rem;
        padding: 1.5rem 1.5rem;
    }
}

.logo__img {
    height: 2rem;
}

.logo__link:link,
.logo__link:visited {
    color: black;
    opacity: 1;
    text-decoration: none;
}
