.input {
    position: relative;
    display: flex;
    /* padding: 1rem; */
}

.input__container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.input__container:focus {
    outline: none;
}

.input--selected {
    border-color: #000;
}

.input__container.input--error {
    border: 1px solid #D95C35;
    box-shadow: 0px 0px 0px 2px rgba(217, 92, 53, 0.2);
}

@media only screen and (max-width: 37.5em) {
    .input--selected .input__description {
        padding: 1rem;
        height: auto;
        visibility: visible;
        border-top: 1px solid #000;
    }
}

.input__description {
    visibility: hidden;
    height: 0;
}

.input__error {
    grid-column: 1 / -1;
}

.no-line-height {
    line-height: 1;
}

.input__input {
    border: none;
    font-family: inherit;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid transparent;
    background-color: #f3f6f6;

    width: 100%;
    padding: 1rem 4.5rem 1rem 3rem;
    outline: none;

    transition: all 0.4s;
}

.input__input::placeholder {
    opacity: 0.4;
    font-weight: 500;
}

.input--filled .input__input,
.input__input:focus {
    background: #fff;
}

.input--filled {
    border: 1px solid rgba(0, 0, 0);
    background: #fff;
}

.no-line-height {
    line-height: 1;
}

@media only screen and (max-width: 64em), (max-height: 46.3125em)  {
    .input__input {
        padding: 0.75rem 4rem 0.75rem 2.5rem;
    }
}

.input__prefix {
    position: absolute;
    top: 50%;
    left: 1rem;
    opacity: 0.4;
    font-weight: 500;
    transform: translateY(-50%);
}

.input__suffix {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

.input__input::-webkit-outer-spin-button,
.input__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input__input {
    -moz-appearance: textfield;
}