.donation-type {
    font-weight: bold;
    color: var(--color-primary);
}

.donation-type span {
    color: #00a37f;
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 37.5em) {
    .donation-type {
        padding-bottom: 0.5rem;
    }
}
