.radio-button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: all 0.2s;
    overflow: hidden;
}

.radio-button--selected {
    border-color: #000000;
}

.radio-button__input {
    display: none;
}

.radio-button__label {
    padding: 1rem;
    cursor: pointer;

    display: flex;
    align-items: center;
}

@media only screen and (max-width: 37.5em) {
    .radio-button--selected .radio-button__extra {
        display: grid;
        padding: 1rem;
        visibility: visible;
        height: auto;
    }
}

.radio-button__extra {
    visibility: hidden;
    height: 0;
    grid-template-columns: 1fr 60%;
    gap: 1rem;
    transition: all 0.2s;
}

.radio-button__image {
    height: 100%;
    width: 100%;
    grid-column: 1/2;
    object-fit: cover;
    border-radius: 0.5rem;
}

/* Only on iOS Devices */
@supports (-webkit-touch-callout: none) {
    .radio-button__image {
        height: auto;
    }
}

.radio-button__description {
    grid-column: 2/3;
}
