.radio-button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: all 0.2s;
    overflow: hidden;
}

.radio-button--selected {
    border-color: #000000;
}

.radio-button__input {
    display: none;
}

.radio-button__label {
    padding: 1rem;
    cursor: pointer;

    display: flex;
    align-items: center;
}

@media only screen and (max-width: 37.5em) {
    .radio-button--selected .radio-button__extra {
        display: grid;
        padding: 1rem;
        visibility: visible;
        height: auto;
    }
}

.radio-button__extra {
    visibility: hidden;
    height: 0;
    grid-template-columns: 1fr 65%;
    gap: 1rem;
    transition: all 0.2s;
}

.radio-button__img-container {
    position: relative;
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    overflow: hidden;
    border-radius: 0.5rem;
}

.radio-button__img-container::after {
    content: "";
    display: block;
    padding-bottom: 80%;
}

.radio-button__image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

/* Only on iOS Devices */
/* @supports (-webkit-touch-callout: none) {
    .radio-button__image {
        height: auto;
    }
} */

.radio-button__description {
    grid-column: 2/3;
}
